<div class='well'>
    <dl class='dl-horizontal'>
        <dt>From:</dt>
        <dd><%= @leave.from %></dd>

        <dt>To:</dt>
        <dd><%= @leave.to %></dd>

        <dt>User:</dt>
        <dd><%= @leave.user.available_name %></dd>

        <dt>Status:</dt>
        <dd><%= @leave.status_display %></dd>

        <dt>Modify Status:</dl>
        <dd>
        <form action='<%= admin_leave_modify_path(@leave) %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />
                <select name='leave_status'>
                    <option value='Pending'>Pending</option>
                    <option value='Approved'>Approve</option>
                    <option value='Rejected'>Reject</option>
                </select>
                <input type='submit' class='btn btn-lg btn-primary' value='Edit' />
            </form>
        </dd>
    </dl>

</div>

