Dear <%= @leave.user.available_name %>,

<p>You have applied for a leave.</p>

<p>
    StartDate: <%= @leave.start_date %>
</p>
<p>
    End Date: <%= @leave.end_date %>
</p>
<p>
    Num Of Days: <%= @leave.num_of_days %>
</p>
<p>
    Reason: <%= @leave.reason %>
</p>

