
<div class="left-pane">
<button class='btn btn-info btn-lg bottom-flat' id="filter-main-btn">Filter</button>
<div class="well filter-box" >

    <div id="amount-filter-box" class="small-box">
        <div class="box-header">
            Amount
        </div>
        <div class="box-content">
            <p>
            <input type="radio" name="amount" id="filter_by_asc" value="asc" /> Asc
            </p>
            <p>
            <input type="radio" name="amount" id="filter_by_desc" value="desc" /> Desc
            </p>
            <p>
            <input type="radio" name="amount" value="none" /> Reset
            </p>
        </div>
    </div>
    <div id="status-filter-box" class="small-box">
        <div class="box-header">
            Status 
        </div>
        <div class="box-content">
            <p>
            <input type="radio" name="status" id="filter_by_status_pending" value="pending" /> Pending
            </p>
            <p>
            <input type="radio" name="status" id="filter_by_status_rejected" value="rejected" /> Rejected
            </p>
            <p>
            <input type="radio" name="status" id="filter_by_status_approved" value="approved" /> Approved
            </p>
            <p>
            <input type="radio" name="status" id="filter_by_status_none" value="none" /> Reset
            </p>

        </div>
    </div>
    <% if current_user.has_role? :admin %>
    <div id="user-filter-box" class="small-box">
        <div class="box-header">
            User
        </div>
        <div class="box-content">
            <p>
                <select id="users_list">
                    <option value>-------</option>
                    <% @users.each do |user| %>
                        <option value="<%= user.id %>"><%= user.available_name %></option>
                    <% end %>
                </select>
            </p>
        </div>
    </div>
    <% end %>


    <button id="submit-filter" class="btn btn-primary">Filter</button>
    <button id="reset-btn" class="btn btn-primary">Reset</button>
</div>
</div>
<div class='right-pane'>
<button class='btn btn-info btn-lg bottom-flat'>Expenses</button>
<% @expenses.each do |expense| %>
    <div class='well'>
        <% if current_user.has_role? :admin %>
        <span class='medium-text'><%= link_to "#{expense.amount} by #{expense.user.available_name}", expense_admin_edit_path(expense) %></span>
        <% else %>
        <span class='medium-text'><%= link_to "#{expense.amount}", expense_show_path(expense) %></span>
        <% end %>
        
        <% if expense.status_display == "Pending" %>
        <div class="badge badge-warning">Pending</div>
        <% elsif expense.status_display == "Rejected" %>
            <div class="badge badge-error">Rejected</div>
        <% elsif expense.status_display == "Approved" %>
            <div class="badge badge-success">Approved</div>
        <% end %>
    </div>
<% end %>
</div>


<%= javascript_include_tag "expense", "data-turbolinks-track" => true %>

