
<button class='btn btn-info btn-lg bottom-flat'>Leads</button>
<div class="" id="lead_index">
<div class="actions">
    <button class="btn btn-primary" id="convert-lead">Convert</button>
    <button class="btn btn-primary" id="delete-lead">Delete</button>
</div>
    <table id="lead-index-table" class="table table-bordered tablesorter">
        <thead>
        <tr>
            <th>Select</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Description</th>
            <th>Stage</th>
            <th>Next Action Date</th>
            <th>Source</th>
            <th>Estimated Value</th>
        </tr>
        </thead>

        <tbody>
    <% @leads.each do |lead| %>
        <tr data-lead-url="<%= lead_path(lead) %>">
            <td> <input type="checkbox" name="lead" id="<%= lead.id %>" /></td>
            <td class="first-name"><%= lead.first_name %></td>
            <td class="last-name"><%= lead.last_name %></td>
            <td class="email"><%= lead.email %></td>
            <td class="description"><%= lead.description %></td>
            <td ><%= lead.stage_display %></td>
            <td ><%= lead.next_action_date %></td>
            <td ><%= lead.source.name %></td>
            <td ><%= lead.estimated_value %></td>
        </tr>
    <% end %>
    </tbody>
    </table>
<% if @leads.empty? %>
    <div class="well"> You have no open leads! </div>
<% end %>
</div>

<% content_for :extra_js do %>
    <%= javascript_include_tag "jquery.tablesorter" %>
    <%= javascript_include_tag "lead" %>
<% end %>

<% content_for :extra_css do %>
  <%= stylesheet_link_tag    "tablesorter_green/style", media: "all" %>
<% end %>
