<button class='btn btn-info btn-lg bottom-flat'>Leave Edit</button>
<div class='well'>
    <dl class='dl-horizontal'>
        <dt>From:</dt>
        <dd><%= @leave.start_date %></dd>

        <dt>To:</dt>
        <dd><%= @leave.end_date %></dd>

        <dt>User:</dt>
        <dd><%= @leave.user.available_name %></dd>

        <dt>Num of days: </dt>
        <dd><%= @leave.num_of_days %></dd>

        <dt>Category: </dt>
        <dd><%= link_to @leave.category.name, leave_category_path(@leave.category) %></dd>

        <dt>Status:</dt>
        <dd><%= @leave.status_display %></dd>

        <dt>Modify Status:</dl>
        <dd></dd>
    </dl>
    <div class="edit-form-div">
        <form action='<%= url_for(controller: :leaves, action: :update, id: @leave) %>' method='post'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' />
            <input type="hidden" name="_method" value="patch" />
                <select name='leave_status' class='form-control'>
                    <option value='Pending'>Pending</option>
                    <option value='Approved'>Approve</option>
                    <option value='Rejected'>Reject</option>
                </select>
                <input type='submit' class='btn btn-primary' value='Edit' />
            </form>
        </div>

</div>

