<button class='btn btn-info btn-lg bottom-flat max-width'><%= @project.name %></button>
<div class='well'>
    <dl class="dl-horizontal">
        <dt>Name: </dt>
        <dd><%= @project.name %></dd>

        <dt>Description: </dt>
        <dd><%= @project.description %></dd>
    </dl>

    <% if current_user.has_role? :admin %>
        <%= link_to :Edit, edit_project_path(@project.slug) %>
    <% end %>
</div>

<button class='btn btn-info btn-lg bottom-flat'>Members</button>
<div class='well'>
    <div><%= link_to "Add", add_project_members_path(@project.slug), {class: 'btn btn-primary'} %> </div>
<% @project.members.each do |member| %>

    <div>
    <%= link_to member.available_name, user_path(member) %>
    </div>

<% end %>
<% if @project.members.count.zero? %>
    No members for this project !
<% end %>
</div>
