<button class='btn btn-info btn-lg bottom-flat'><%= @user.available_name %></button>
<div class='well'>
    <dl class="dl-horizontal">
        <dt>Name: </dt>
        <dd><%= image_tag @user.avatar.url(:medium) %> <br /><%= @user.available_name %></dd>

        <dt>Links: </dt>
        <dd><%= link_to "Leaves", leave_index_path(:user => @user.id) %>, 
        <%= link_to "Expenses", expense_index_path(:user => @user.id) %>,
        <% if @user != current_user %>
        <%= link_to "Send Message", message_new_path(@user) %>
        <% end %> </dd>
    </dl>
</div>
