<button class='btn btn-info btn-lg bottom-flat'>Expense Details</button>
<div class='well'>
    <dl class='dl-horizontal'>
        <dt>Amount: </dt>
        <dd><%= @expense.amount %></dd>

        <dt>Description: </dt>
        <dd><%= @expense.description %></dd>

        <dt>Status:</dt>
        <dd><%= @expense.status_display %></dd>

        <dt>Category: </dt>
        <dd><%= link_to @expense.category.name, expense_category_path(@expense.category.slug) %></dd>
    </dl>
    <% if current_user.has_role? :admin %>
    <%= link_to :Edit, :edit_expense %>
    <% end %>
</div>
